$color1:white;
$color2:#555555;
$color3:#f9f9f9;
$color4:black;
$color5:#555;
$color6:#ddd;

$block: block;

$padding: 14px 16px;
$size: 17px;

$direita: right;
$esquerda: left;

$box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

.topnav {
    background-color: $color1;
    overflow: hidden;
    font-family: sans-serif;
    box-shadow: $box-shadow;
}

/* Menus na navbar */
.topnav a {
  float: $esquerda;
  display: $block;
  color: $color2;
  text-align: center;
  padding: $padding;
  text-decoration: none;
  font-size: $size;
  font-family: 'Montserrat', sans-serif;
}

/* Página atual */
.active {
  background-color: $color1;
  color: $color1;
}

/* Esconder menus que aparecem em menores ecrãs */
.topnav .icon {
  display: none;
}

/* Posição do dropdown */
.dropdown {
  float: $esquerda;
  overflow: hidden;
}

/* Estilo do dropdown */
.dropdown .dropbtn {
  font-size: $size;
  border: none;
  outline: none;
  color: $color2;
  padding: $padding;
  background-color: inherit;
  margin: 0;

}

.topnav-right {
  float: $direita;
}

/* Dentro do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color3;
  min-width: 160px;
  box-shadow: $box-shadow;
  z-index: 1;
}

/* Menus dentro do dropdown */
.dropdown-content a {
  float: none;
  color: $color2;
  padding: $padding;
  text-decoration: none;
  display: $block;
  text-align: left;
}

/* Rato por cima dos menus */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: $color5;
  color: $color1;
}

/* Rato por cima dos menus */
.dropdown-content a:hover {
  background-color: $color6;
  color: $color4;
}

/* Mostrar menus do dropdown quando rato passar por cima */
.dropdown:hover .dropdown-content {
  display: $block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: $direita;
    display: $block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: $block;
    text-align: $esquerda;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: $block;
    width: 100%;
    text-align: $esquerda;
  }
}

.dropbtn{
  cursor: pointer;
}