*{
    padding:0;
    margin: 0;
  }


  .recursos{
    font-size: 36px;
    color: #8eacb6;
    font-family: 'Montserrat', sans-serif;
    margin-top: 35px;
    text-align: center;
    text-decoration: underline;
    margin-bottom:15px;
  }

  .image-txt-container {
    display: flex;
    align-items: center;
    flex-direction: row;
  }


  .img1 img, .img2 img, .img3 img, .img4 img{
    width: 368px;
    height: auto;
    margin-top:17px;
    margin-bottom: 10px;
  }

  .text1, .text2, .text3, .text4{
    margin-left:10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #555;
  }

  p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    text-align: justify;
    margin-right: 10px;

  }

  .btn{
    cursor:pointer;
    background-color: #8eacb6;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    margin-top: 74px;
  }
  .btn:hover {opacity: 0.6}


  a:link{
    text-decoration:none;
    color:rgb(255, 255, 255);
    }
  a:visited{
    text-decoration:none;
    color:rgb(255, 255, 255);
    }
    
@media screen and (max-width:850px){
  .image-txt-container{
    display:block;
  }
  .recursos{
    text-align:center;
  }
  .btn{
    margin-top:15px;
    margin-bottom:10px;
    font-size:12px;
  }
  .text1, .text2, .text3, .text4{
    margin-left:5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:14px;
  }
  .img1 img, .img2 img, .img3 img, .img4 img{
    width: 75%;
    text-align:center;
    height: auto;
    margin-top:37px;
    margin-bottom: 10px;
    margin-left:5px;
  }
}


/* FOOTER */

footer p{
  text-align:right;
  font-size:15px;
}